<ion-header-bar align-title="center" class="bar-positive">
    <div class="h1 title">棋牌室</div>

    <button class="button pull-right"><i class="icon ion-navicon-round" ></i></button>
</ion-header-bar>
<ion-view>
    <ion-content overflow-scroll="true" style="overflow:auto;background: #dedede;">
        <p class="location"><i class="icon ion-location"></i>广东省广州市萝岗区水西路</p>
        <div class="list">

            <a class="item item-thumbnail-left" href="javascript:;"  ng-click="detail()">
                <img src="images/room1.jpg">
                <h2>西郊棋牌室</h2>
                <p style="margin-bottom: 3px;">桌游私人单人套餐 免费体验1小时休闲娱乐休闲娱乐</p>
                <p class="bottom">休闲娱乐  &nbsp;&nbsp;<span>已预约5297</span>
                    <span class="price">￥66</span>
                </p>

            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="./images/room2.jpg">
                <h2>大世界</h2>
                <p style="margin-bottom: 3px;">桌游私人单人套餐 免费体验1小时休闲娱乐休闲娱乐</p>
                <p class="bottom">休闲娱乐  &nbsp;&nbsp;<span>已预约5297</span>
                    <span class="price">￥66</span>
                </p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="./images/room3.jpg">
                <h2>优米娱乐</h2>
                <p style="margin-bottom: 3px;">桌游私人单人套餐 免费体验1小时休闲娱乐休闲娱乐</p>
                <p class="bottom">休闲娱乐  &nbsp;&nbsp;<span>已预约1937</span>
                    <span class="price">￥46</span>
                </p>
            </a>



        </div>
    </ion-content>

</ion-view>