<ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-ios-arrow-back" ng-click="goBack()"></button>
    <div class="h1 title">棋牌室预约网</div>
    <button class="button pull-right" ng-click="zhuce()">注册</button>
</ion-header-bar>
<ion-view>
    <ion-content overflow-scroll="true" on-swipe-right="goBack()" style="overflow:auto;background: url('./images/dlbg.jpg') no-repeat;">

        <div id="wrap">
            <h2>登录您的账号</h2>
            <input type="text" placeholder="输入手机号"  [(ngModel)]="username">
            <input type="password" placeholder="输入密码" [(ngModel)]="password">
            <div style="text-align: center; margin:5%;">
                <button class="button button-block ">
                    登录
                </button>
            </div>
            <p style="text-align: center;height: 30px;line-height: 30px;">
                <span>忘记密码？</span> | &nbsp;没有账号？<span ng-click="zhuce()" style="color: #008397;text-decoration: underline"> 注册</span>
            </p>
        </div>

    </ion-content>

</ion-view>
