<ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-ios-arrow-back" ng-click="goBack()"></button>
    <div class="h1 title">我的预约</div>
</ion-header-bar>
<ion-view>
    <ion-content overflow-scroll="true" on-swipe-right="goBack()" style="overflow:auto;background: #dedede;">

        <ul class="roomlist">
            <li>
                <div>
                    <p class="name">西郊棋牌室-1号间</p>
                    <p class="status using"><i class="icon ion-ios-paw using"></i> 预约时间：2018-02-07</p>
                    <p class="address"><i class="icon ion-location using"></i> 广州市萝岗区水西路西郊大楼</p>
                    <span class="num myUsing">01</span>
                    <span class="room-btn cansole">取消预约</span>
                </div>
                <p class="bottom">
                    &nbsp;&nbsp;<span>标准间</span>
                    &nbsp;&nbsp;<span style="color: red;">￥66</span>
                    &nbsp;&nbsp;<i class="icon ion-clock using"></i><span> 6小时</span>
                </p>
            </li>
            <li>
                <div>
                    <p class="name">西郊棋牌室-1号间</p>
                    <p class="status using"><i class="icon ion-ios-paw using"></i> 预约时间：2018-02-15</p>
                    <p class="address"><i class="icon ion-location using"></i> 广州市萝岗区水西路西郊大楼</p>
                    <span class="num myUsing">01</span>
                    <span class="room-btn cansole">取消预约</span>
                </div>
                <p class="bottom">
                    &nbsp;&nbsp;<span>标准间</span>
                    &nbsp;&nbsp;<span style="color: red;">￥66</span>
                    &nbsp;&nbsp;<i class="icon ion-clock using"></i><span> 6小时</span>
                </p>
            </li>
            <li>
                <div>
                    <p class="name">西郊棋牌室-3号间</p>
                    <p class="status using"><i class="icon ion-ios-paw using"></i> 预约时间：2018-02-16</p>
                    <p class="address"><i class="icon ion-location using"></i> 广州市萝岗区水西路西郊大楼</p>
                    <span class="num myUsing">03</span>
                    <span class="room-btn cansole">取消预约</span>
                </div>
                <p class="bottom">
                    &nbsp;&nbsp;<span>标准间</span>
                    &nbsp;&nbsp;<span style="color: red;">￥66</span>
                    &nbsp;&nbsp;<i class="icon ion-clock using"></i><span> 6小时</span>
                </p>
            </li>

        </ul>
    </ion-content>
</ion-view>